
body {
  background: rgb(39, 36, 36);
  font-family: Arial, sans-serif;
  margin: 0;
  color: white;
}

/* Layout */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem;
  min-height: 100vh;
}

@media (min-width: 1024px) {
  .main {
    flex-direction: row;
    align-items: flex-start;
  }
}

/* Sidebar */
.intro {
  display: none;
  background: black;
  border: 1px solid #d1d5db;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 80vw;
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .intro {
    display: block;
    width: 25vw;
    border: none;
    background: transparent;
    box-shadow: none;
  }
}

.profile-pic {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.name {
  font-weight: bold;
  border-bottom: 3px solid white;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.name .title {
  font-size: 1.875rem;
}

.name .subtitle  {
  font-size: 1.25rem;
  color: #9ca3af;
  font-weight: 500;
}

.btn-cv {
  background: #3b82f6;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}
.CVdownload:hover {
  background: #2563eb;
}

/* Social Media */
.socialMedia {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
  margin-top: 1rem;
  padding-top: 0.75rem;
  border-top: 3px solid white;
}

.social-icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 6px rgba(255,255,255,0.2);
}

/* Main Content */
.all {
  width: 80vw;
}

@media (min-width: 1024px) {
  .all {
    width: 50vw;
    margin-left: 2.5rem;
  }
}

/* Top Nav */
.navigationBar {
  display: none;
}

@media (min-width: 1024px) {
  .navigationBar {
    display: flex;
    background: black;
    border: 1px solid #374151;
    border-radius: 10px;
    font-weight: 800;
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
  }
}
.nav-item {
  flex: 1;
  text-align: center;
  padding: 0.75rem;
  font-size: 1.25rem;
  color: #d1d5db;
  text-decoration: none;
  transition: all 0.3s;
  border-bottom: 4px solid transparent;
}
.nav-item:hover {
  color: white;
  border-color: white;
}
.nav-item.active {
  background: #6b7280;
  color: black;
  border-radius: 10px;
}

/* Bottom Navigation (Mobile) */
.bottom-navigationBar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: black;
  border-top: 1px solid #374151;
  box-shadow: 0 -2px 6px rgba(0,0,0,0.5);
  justify-content: space-around;
  align-items: center;
  z-index: 50;
}

@media (min-width: 1024px) {
  .bottom-navigationBar {
    display: none;
  }
}

.b-nav-item {
  flex: 1;
  text-align: center;
  color: #d1d5db;
  padding: 0.25rem;
  font-size: 0.75rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: color 0.3s, border 0.3s;
}

.b-nav-item:hover {
  color: white;
}

.b-nav-item.active {
  background: #6b7280;
  color: black;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: 0.25rem;
  fill: currentColor;
}


/* Coding Section */
.full {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.section {
  border-radius: 10px;
  overflow: hidden;
}

.section-header {
  background: black;
  color: white;
  font-weight: bold;
  padding: 16px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-header span {
  font-size: 1.4rem;
}

.section-header svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
  transition: transform 0.3s ease;
}

.section-body {
  background: black;
  color: white;
  font-size: 1.2rem;
  border: 1px solid #374151;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  padding: 16px;
  border-radius: 0 0 16px 16px;
  margin-top: 4px;
  transition: all 0.5s ease-in-out;
}

#all-github-repo{
  display: grid;
  grid-column: autom-fit;
}
